ENV=local

PORT=":5050"

YANDEX_DICTIONARY_KEY=
YANDEX_DICTIONARY_URL=

MAX_REQUEST_COUNT=1
WAIT_MILLISECONDS=500

LIBRE_TRANSLATE_URL=http://localhost:5000

WORD_ALIGNER_ADDR_GRPC=localhost:5001

REDIS_PASSWORD=password
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL="redis://default:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nim2book
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_URL=http://localhost:9000
MINIO_BUCKET_NAME=nim2book
MINIO_REGION=ru-1
MINIO_USE_SSL=false

JWT_SECRET=jwt-secret
JWT_ACCESS_TIME=15
JWT_REFRESH_TIME=30

GOOGLE_CLIENT_ID=
GOOGLE_CREDENTIALS=
